<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuarios</title>
</head>
<body>

<h2>Editar Usuarios</h2>

<form method="POST">

    <label>Documento:</label><br>
    <input type="text" name="documento" value="{{ usuario.documento }}" required>
    <br><br>

    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ usuario.nombre }}"  required>
    <br><br>

    <label>Apellido 1:</label><br>
    <input type="text" name="apellido_1" value="{{ usuario.apellido_1 }}">
    <br><br>

    <label>Apellido 2:</label><br>
    <input type="text" name="apellido_2" value="{{ usuario.apellido_2 }}">
    <br><br>

    <label>Estado:</label><br>
    <select name="estado">
        <option value="1" {% if usuario.estado == 1 %}selected{% endif %}>Activo</option>
        <option value="0" {% if usuario.estado == 0 %}selected{% endif %}>Inactivo</option>
    </select>
    <br><br>


    <button type="submit">Guardar cambios</button>

</form>

<br>

<a href="/productos">Volver</a>

</body>
</html>